specification/xsd/Frame.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="http://foo.example.com/tns"
 xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://foo.example.com/tns">

  <!--  -->
  <xs:complexType name="FrameComplexType">
    <!-- @note { e.g. "Thu Jul  2 00:54:22 JST 2009" } -->
    <xs:attribute name="timestamp" type="xs:string"/>
  </xs:complexType>

  <!-- Frame is the root element, declared here. -->
  <xs:element name="Frame" type="tns:FrameComplexType"/>
</xs:schema>
