specification/xsd/Marker.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="http://foo.example.com/tns"
 xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://foo.example.com/tns">

  <!--  -->
  <xs:complexType name="MarkerComplexType">
    <xs:complexContent>
      <xs:extension base="tns:ConfigurationComplexType"/>
    </xs:complexContent>
  </xs:complexType>

  <!--  -->
  <xs:complexType name="ConfigurationComplexType"/>

  <!-- Marker is the root element, declared here. -->
  <xs:element name="Marker" type="tns:MarkerComplexType"/>
</xs:schema>
